.about {
    display: flex; 
    padding: 80px 0;
}

.aboutImage {
    position: relative;
    .aboutMeSVG {
        width: 600px;
        height: 600px;
    }
    .beckyPhoto {
        width: 250px;
        position: absolute; 
        top: 100px;
        left: 100px;
    }
}

.aboutText {
    margin-top: 80px;
    position: relative;
    left: -120px;
    .aboutMeText {
        margin-top: 0;
        width: 500px;
        .beckyRobinson {
            color: hotpink;
            font-weight: 700;
        }
        .colourful {
            color: orangered;
            font-weight: 700;
        }
    }
}

