.about {
    display: flex; 
    padding: 80px 0;
}

.aboutImage {
    position: relative;
    width: 50%;
    .aboutMeSVG {
        width: 600px;
    }
    .beckyPhoto {
        width: 250px;
        position: absolute; 
        top: 100px;
        left: 100px;
    }
}

.aboutText {
    margin-top: 80px;
    position: relative;
    left: -25px;
    width: 50%;
    .aboutMeText {
        margin-top: 0;
        .beckyRobinson,
        .everyone {
            color: hotpink;
            font-weight: 700;
        }
        .colourful {
            color: orangered;
            font-weight: 700;
        }
    }
}

// MEDIA QUERIES

@media (max-width: 1200px) {
    .aboutImage {
        width: 40%;
        .aboutMeSVG  {
            width: 500px;
        }
        .beckyPhoto {
            width: 200px;
            top: 100px;
            left: 90px;
        }
    }
    .aboutText {
        width: 60%;
        left: 20px;
    }
}

@media (max-width: 950px) {
    .aboutText {
        left: 40px;
    }
}

@media (max-width: 800px) {
    .about {
        flex-direction: column;
        padding-bottom: 40px;
    }
    .aboutImage {
        width: 100%;
        display: flex;
        justify-content: center;
        .beckyPhoto {
            left: 200px;
        }
    }
    .aboutText {
        left: 0px;
        top: -90px;
        width: 100%;
        padding: 0 40px;
        margin-top: 0;
        h3 {
            margin-top: 0;
        }
        .aboutMeText {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 700px) {
    .about {
        padding-bottom: 0;
    }
    .aboutImage {
        .beckyPhoto {
            left: 50px;
            top: 50px;
            width: 150px;
        }
    }
    .aboutText {
        top: -100px;
        .aboutMeText {
            font-size: 18px;
        }
    }
    
}

@media (max-width: 500px) {
    .about {
        padding-top: 40px;
    }
    .aboutText {
        padding: 0 50px;
        .aboutMeText {
            font-size: 16px;
        }
    }
}

@media (max-width: 500px) {
    .aboutText {
        top: -70px;
    }
}


