h3.reachOut {
    text-align: center;
}

.contactImgAndForm {
    display: flex;
    .contactImage {
        width: 50%;
        background: url(../assets/contactSVG.svg);
        background-repeat: no-repeat;
        height: 600px;
        width: 600px;
        position: relative;
        left: -50px;
    }
    form {
        width: calc(50% - 50px);
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        margin-right: 50px;
        font-size: 18px;
        p,
        input,
        a,
        textarea,
        button {
            color: orangered;
        }
        p {
            width: 500px;
        }
        a {
            text-decoration: none;
            transition: all 0.3s;
        }
        a:hover {
            color: #FEF5E7;
        }
        input,
        textarea {
            max-width: 500px;
            -webkit-appearance: none;
            outline: none;
            background: gold;
            margin-bottom: 20px;
        }
        input,
        textarea,
        button {
            border: none;
            padding: 5px;
        }
        textarea {
            resize: none;
        }
        input::placeholder,
        textarea::placeholder {
            color: orangered;
        }
        input:hover,
        input:active,
        input:focus,
        textarea:hover,
        textarea:active,
        textarea:focus {
            border: 1px solid orangered;
        }
        button {
            background: #C6E6DB;
            width: 80px;
            transition: all 0.3s;
            -webkit-appearance: none;
        }
        button:hover,
        button:active,
        button:focus {
            box-shadow: 3px 3px 0px #C2C9E6;
            border: 1px solid #C2C9E6;
        }
    }
}


// MEDIA QUERIES

@media (max-width: 1200px) {
    .contactImgAndForm form p {
        width: 400px
    }
}

@media (max-width: 1000px) {
    .contactImgAndForm form p {
        width: 300px
    }
}

@media (max-width: 700px) {
    h3.reachOut {
        margin-bottom: 30px;
    }
    .contactImgAndForm {
        flex-direction: column-reverse;
        position: relative;
        margin-bottom: 120px;
        .contactImage {
            top: 80px;
            left: -100px;
            position: absolute;
            height: 500px;
            width: 500px;
        }
        form {
            width: 100%;
            padding: 0 40px;
            position: relative;
            margin: 0;
            p,
            input,
            textarea {
                width: 400px;
                margin: 0 auto;
                margin-bottom: 20px;
            }
            button {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 550px) {
    h3.reachOut {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .contactImgAndForm {
        .contactImage {
            top: 80px;
            left: -100px
        }
        form {
            padding: 0;
        }
        form p {
            text-align: center;
            font-size: 18px;
        }
    }
}

@media (max-width: 450px) {
    .contactImgAndForm {
        .contactImage {
            height: 380px;
            width: 380px;
            top: 210px;
        }
        form {
            padding: 0;
        }
        form p,
        form input,
        form textarea {
            width: 280px;
        }
    }
}

@media (max-width: 350px) {
    .contactImgAndForm {
        .contactImage {
            height: 320px;
            width: 320px;
            top: 250px;
        }
    }
}