header {
  background: url(../assets/header.svg);
  background-size: cover; 
  background-position: center;
  height: 100vh;
}

.mainNav {
  background: tomato;
  .desktopNav {
    margin: 0;
    display: flex;
    list-style: none;  
    padding: 15px 15px 5px 15px;
  }
  li {
    font-size: 20px;
    .navIcon {
      color: #FEF5E7;
      padding: 0 30px;
      transition: color .3s;
    }
    .navIcon:hover,
    .navIcon:active,
    .navIcon:focus {
      color: gold;
    }
    .navItemText {
      font-size: 12px;
      text-align: center;
      margin: 0;
      opacity: 0;
      color: #FEF5E7;
      transition: opacity .5s;
    }
    a:hover + p.navItemText{
      opacity: 1;
    }
  }   
}

.mobileMenu {
  display: none;
  height: 50px;
  padding-top: 15px;
  button {
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    .hiddenMenuSelect {
      font-size: 35px;
      color: gold;
    }
  } 
  .mobileMenuDropdown {
    background: tomato;
    display: none;
    ul {
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
  }
  .mobileMenuClicked {
    display: block;
  }
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 12vw;
  margin-top: 25vh;
  color: #363b87;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  margin-top: 25vh;
  color: #363b87;
}

.leftNavLabel,
.rightNavLabel {
  color: #C2C9E6;
  font-size: 15px;
  margin: 0px;
  position: fixed;
}

.leftNavLabel {
  transform: rotate(270deg);
  top: 37%;
  left: 3px;
}

.rightNavLabel {
  transform: rotate(90deg);
  top: 36%;
  right: -12px;
}

.leftSideNav,
.rightSideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 40%;
  z-index: 10;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 1px 0;
      font-size: 15px;
      display: flex;
      justify-content: flex-start;
    }
    li a {
      text-decoration: none;
    }
  }
}

.leftSideNav {
  margin-left: 15px;
  li a {
    color: orangered;
  }
}

.rightSideNav {
  margin-right: 15px;
  right: 0;
  ul {
    li {
      flex-direction: row-reverse;
    }
    li a{
      color: orangered;
    }
  }
}

.sideNavLink {
  transition: color 0.3s;
}

.sideNavLink:hover,
.sideNavLink:active,
.sideNavLink:focus {
  color: hotpink;
}

.sideNavItem a:hover + p.socialAppear {
  opacity: 1;
}

.socialAppear {
  margin: 0;
  margin: 0 10px;
  opacity: 0;
  transition: opacity 0.4s;
  color: hotpink;
  font-size: 15px;
}

.mobileLeftNav {
  display: none;
  button {
    display: block;
    margin: 0;
    background: none;
    border: none;
    color: tomato;
    position: relative;
    z-index: 20;
  }
  .leftMenuOpen {
    display: none;
  }
  .leftMenuClicked {
    display: block;
    padding-left: 50px;
    padding-right: 20px;
    padding: 10px 20px 10px 50px;
    color: hotpink;
    background: gold;
    position: relative;
    top: -95px;
    left: -15px;
    z-index: 15;
    a {
      padding-left: 25px;
    }
  }
}

.mobileRightNav {
  display: none;
  button {
    display: block;
    margin: 0;
    background: none;
    border: none;
    color: tomato;
    position: relative;
    z-index: 20;
  }
  .rightMenuOpen {
    display: none;
  }
  .rightMenuClicked {
    display: block;
    // padding-left: 50px;
    // padding-right: 20px;
    padding: 10px 20px 10px 50px;
    color: hotpink;
    background: gold;
    position: relative;
    top: -95px;
    right: -15px;
    z-index: 15;
    a {
      // padding-left: 25px;
    }
  }
}

// MEDIA QUERIES

@media (max-width: 800px) {
  .leftNavLabel {
    top: 45%;
    left: 12px;
  }
  .rightNavLabel {
    top: 44%;
    right: -2px;
  }
  .leftSideNav,
  .rightSideNav {
    top: 50%;
  }
  .mobileLeftNav {
    display: block;
  }
  .leftDesktopNav {
    display: none;
  }
  .mobileRightNav {
    display: block;
  }
  .rightDesktopNav {
    display: none;
  }
}

@media (max-width: 500px) {
  .mainNav {
    height: 70px;
    .desktopNav {
      display: none;
    }
  }
  h2 {
    font-size: 20px;
    margin-top: -2vh;
  }
  .mobileMenu {
    display: block;
    .mobileMenuDropdown .navItem {
      .navItemText {
        opacity: 1;
        color: gold;
      }
    }
  }
  .leftNavLabel,
  .rightNavLabel {
    font-size: 12px;
  }
  .rightNavLabel {
    right: 2px;
  }
  .leftMenuButton,
  .rightMenuButton {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .leftNavLabel {
    left: 2px;
  }
  .rightNavLabel {
    right: -4px;
  }
  .leftSideNav {
    left: -12px;
  }
  .rightSideNav {
    right: -8px;
  }
}

