header {
  background: url(../assets/header.svg);
  background-size: cover; 
  background-position: center;
  height: 100vh;
}

.mainNav {
  background: tomato;
  padding: 15px 15px 5px 15px;
   ul {
    margin: 0;
    display: flex;
    list-style: none;  
  }
  li {
    font-size: 20px;
    .navIcon {
      color: #FEF5E7;
      padding: 0 30px;
      transition: color .3s;
    }
    .navIcon:hover {
      color: gold;
    }
    .navItemText {
      font-size: 12px;
      text-align: center;
      margin: 0;
      opacity: 0;
      color: #FEF5E7;
      transition: opacity .5s;
    }
    a:hover + p.navItemText{
      opacity: 1;
    }
  }   
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 12vw;
  margin-top: 25vh;
  color: #363b87;
}

h2 {
  font-size: 25px;
  text-align: center;
  font-weight: 400;
  margin-top: 25vh;
  color: #363b87;
}

.leftSideNav,
.rightSideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 40%;
  z-index: 10;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 1px 0;
      font-size: 10px;
      display: flex;
      justify-content: flex-start;
    }
    li a {
      text-decoration: none;
    }
  }
}

.leftSideNav {
  margin-left: 15px;
  li a {
    color: orangered;
  }
}

.rightSideNav {
  margin-right: 15px;
  right: 0;
  ul {
    li {
      font-size: 10px;
      flex-direction: row-reverse;
    }
    li a{
      color: orangered;
    }
  }
}

.sideNavLink {
  transition: color 0.3s;
}

.sideNavLink:hover {
  color: hotpink;
}

.sideNavItem a:hover + p.socialAppear {
  opacity: 1;
}

.socialAppear {
  margin: 0;
  margin: 0 10px;
  opacity: 0;
  transition: opacity 0.4s;
  color: hotpink;
  font-size: 10px;
}