.work {
    padding-bottom: 80px;
}

.workh3 {
    text-align: center;
    margin-top: 0;
}

h4 {
    color: tomato; 
}

.project1and2 {
    background: url(../assets/blob1.svg);
}

.project3and4 {
    background: url(../assets/blob2.svg);
}

.project1and2,
.project3and4 {
    background-repeat: no-repeat;
    background-position: center;
}

.project {
    display: flex;
    margin-top: 100px;
}

.project1,
.project3 {
    .projectDetails {
        width: calc(50% - 40px);
        margin-right: 40px;
        img {
            transition: all 0.3s;
        }
        img:hover {
            box-shadow: 10px -10px 0px hotpink;
            border: 2px solid hotpink;
        }
    }
    .projectDescription {
        width: calc(50% - 40px);
        margin-left: 40px;
        text-align: right;
    }
}

.project2, 
.project4 {
    flex-direction: row-reverse;
    .projectDetails {
        width: calc(50% - 40px);
        margin-left: 40px;
        img {
            transition: all 0.3s;
        }
        img:hover {
            box-shadow: -10px -10px 0px hotpink;
            border: 2px solid hotpink;
        }
    }
    .projectDescription {
        width: calc(50% - 40px);
        margin-right: 40px;
    }
    .toolsUsed {
        justify-content: flex-end;
        p {
            margin-left: 40px;
            margin-right: 0;
        }
    }
    .projectLinks {
        text-align: right;
    }
}

.toolsUsed {
    display: flex;
    flex-wrap: wrap;
    p {
        color: hotpink;
        margin-right: 40px;
        margin-top: 0;
        line-height: 0.8;
        font-size: 15px;
    }
}

.projectLinks {
    margin-top: 20px;
}

.projectLink {
    background: gold;
    color: orangered;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 10px;
    transition: box-shadow 0.3s;
}

.projectLink:hover {
    box-shadow: 3px 3px 0 orangered;
    border: 1px solid orangered;
}
